    <div id="footer_wrap" class="outer">

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/railsbridge/code-of-conduct/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/railsbridge/code-of-conduct/tarball/master">Download this project as a tar.gz file</a>
            </section>
      <footer class="inner">
        <p class="copyright">Code-of-conduct maintained by <a href="https://github.com/railsbridge">railsbridge</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-40977319-2");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

